/* the style library version of colors here have extra 'ff' strings on them.
   these are the alpha channels (control color transparency), which are set to 100% by default, so omitted here because they're not necessary. */

/* generic global styling --------------------------------------- */
html{
    background-color: #fcfffe;
}

h1, h2, h3, h4, h5, h6{
    color: #a4cb03;
}

a{
    color: #a4cb03;
    text-decoration: underline;
}

a:hover{
    color: #a4cb03;
    text-decoration: none;
}

a:active{
    color: #198754;
    text-decoration: none;
}

.dark-link{
    color: #6c757d;
    text-decoration: underline;
}

.dark-link:hover{
    color: #343a40;
    text-decoration: none;
}

.dark-link:active{
    color: #6c757d;
    text-decoration: none
}


hr{
    color: black;
}

/* content container, formatting --------------------------------------- */
.content{
    margin: 3rem;
    color: #6c757d;
}

.force-right{
    position: absolute;
    right: 8rem;
}

/* navbar --------------------------------------- */
.navbar{
    background-color: #cff17a !important;
    border: 1px solid #198754;
}

/* boxes --------------------------------------- */
.box{
    background-color: #e9eaec;
    border: 1px solid #a4cb03;
    color: #343a40;
    border-radius: 5px;
    padding: 1rem;
}

/* tables --------------------------------------- */
.td-vertical-center{
    vertical-align: middle;
}

.td-horizontal-center{
    text-align: center;
}

/* buttons --------------------------------------- */
.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited{
    color: #a4cb03 !important;
    border: var(--bs-btn-border-width) solid #a4cb03;
    --bs-btn-active-border-color: #a4cb03;
    background-color: #fcfffe !important;
}
.btn-outline-primary:hover{
    background-color: #a4cb03 !important;
    color: #fcfffe !important;
    border: var(--bs-btn-border-width) solid #a4cb03;
}

.btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary:visited{
    background-color: #fcfffe !important;
}
.btn-outline-secondary:hover{
    background-color: var(--bs-btn-color) !important;
}

/* images --------------------------------------- */
.icon{
    border-radius: 50%;
}

.navbar-icon{
    width: 30px;
}

/* page specific --------------------------------------- */

/* login --------------------------------------- */
.credential-form{
    width: 50%;
    display: grid;
    column-gap: 3rem;
    row-gap: 0.5rem;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.login-register-box{
    display: grid;
    grid-template-columns: 0.4fr 2fr;
}

.log-reg-img{
    width: 100%;
}

/* registration --------------------------------------- */
.registration-welcome{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    column-gap: 3rem;
}

.registration-logo{
    width: 100%;
}

.registration-welcome-text{
    padding: 7rem 0;
}

.content-register{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 6rem;
    color: #6c757d;
}

.registration-input{
    width: 50%;
}

#offset-message-register{
    padding-top: 3rem;
}

#registration-about{
    border-right: 1px solid #198754;
}

/* home --------------------------------------- */
/* same styling as links */
#tip-dismissal{
    color: #198754;
    text-decoration: underline;
}

#tip-dismissal:hover{
    color: #a4cb03;
    text-decoration: none;
}

#tip-dismissal:active{
    color: #198754;
    text-decoration: none;
}

.stat-container{
    display: flex;
    justify-content: space-evenly;
}

.card-title{
    font-size: 2rem;
}

.card-text{
    font-size: 0.95rem;
}

/* search --------------------------------------- */

.search-table{
    margin-top: 3rem;
}

.search-icon-img{
    width: 75%;
}

.search-icon{
    width: 10%;
}

.search-user{
    width: 85%;
}

.search-score{
    width: 5%
}

.search-link{
    color: #198754;
    text-decoration: none;
}

/* profile --------------------------------------- */
.profile-box{
    padding-left: 75px;
    padding-right: 75px;
}

.profile-header{
    display: grid;
    grid-template-columns: 0.15fr 0.85fr;
    column-gap: 4rem;
    width: 100%;
}

.profile-icon{
    width: 100%
}

.profile-label{
    padding: 30px 0 30px;
}

.description-input-box{
    width: 100%;
    border-radius: 0.3rem;
    border: 1px solid #aeaeae;
}