/* the style library version of colors here have extra 'ff' strings on them.
   these are the alpha channels (control color transparency), which are set to 100% by default, so omitted here because they're not necessary. */

/* generic global styling --------------------------------------- */
html{
    background-color: #fcfffe;
}

h1, h2, h3, h4, h5, h6{
    color: #a4cb03;
}

a{
    color: #a4cb03;
    text-decoration: underline;
}

a:hover{
    color: #a4cb03;
    text-decoration: none;
}

a:active{
    color: #198754;
    text-decoration: none;
}

.dark-link{
    color: #6c757d;
    text-decoration: underline;
}

.dark-link:hover{
    color: #343a40;
    text-decoration: none;
}

.dark-link:active{
    color: #6c757d;
    text-decoration: none
}


hr{
    color: black;
}

/* content container, formatting --------------------------------------- */
.content{
    margin: 3rem;
    color: #6c757d;
}

.force-right{
    position: absolute;
    right: 8rem;
}

/* navbar --------------------------------------- */
.navbar{
    background-color: #cff17a !important;
    border: 1px solid #198754;
}

/* navbar --------------------------------------- */
.footer{
    color: #6c757d;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 25%;
    margin-left: 3rem;
}

/* boxes --------------------------------------- */
.box{
    background-color: #0000000d;
    border: 1px solid #dee2e6;
    color: #343a40;
    border-radius: 5px;
    padding: 1rem;
}

/* tables --------------------------------------- */
.box-table-row{
    background-color: #fcfffe;
}

.td-vertical-center{
    vertical-align: middle;
}

.td-horizontal-center{
    text-align: center;
}

/* buttons --------------------------------------- */
.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited{
    color: #a4cb03 !important;
    border: var(--bs-btn-border-width) solid #a4cb03;
    --bs-btn-active-border-color: #a4cb03;
    background-color: #fcfffe !important;
}
.btn-outline-primary:hover{
    background-color: #a4cb03 !important;
    color: #fcfffe !important;
    border: var(--bs-btn-border-width) solid #a4cb03;
}

.btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary:visited{
    background-color: #fcfffe !important;
}
.btn-outline-secondary:hover{
    background-color: var(--bs-btn-color) !important;
}

/* images --------------------------------------- */
.icon{
    border-radius: 50%;
}

.navbar-icon{
    width: 30px;
}

/* page specific --------------------------------------- */

/* login --------------------------------------- */
#login-card{
    margin: 3rem 35vw 0 35vw;
    width: 30vw;
    color: #6c757d;
}

#login-img{
    margin-top: 2rem;
    width: 20vw;
    padding-left: 10vw;
}

#login-form{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

#login-input{
    display: grid;
    grid-template-columns: 0.2fr 0.98fr;
    column-gap: 1rem;
    row-gap: 0.5rem;
}

#login-submit{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 0.98fr 0.2fr;
    column-gap: 1rem;
}

#login-reroute-register{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* registration --------------------------------------- */
.registration-welcome{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    column-gap: 3rem;
}

.registration-logo{
    width: 100%;
}

.registration-welcome-text{
    padding: 7rem 0;
}

.content-register{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 6rem;
    color: #6c757d;
}

.registration-input{
    width: 50%;
}

#offset-message-register{
    padding-top: 3rem;
}

#registration-about{
    border-right: 1px solid #198754;
}

/* about --------------------------------------- */
#about-welcome{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    column-gap: 3rem;
}

#about-logo{
    width: 100%;
}

#about-header{
    margin-top: 7rem;
}


/* home --------------------------------------- */
/* same styling as links */
.stat-container{
    display: flex;
    justify-content: space-evenly;
}

.card-title{
    font-size: 2rem;
}

.card-text{
    font-size: 0.95rem;
}

#tip-dismissal{
    cursor: pointer;
}

/* search --------------------------------------- */

.search-table{
    margin-top: 3rem;
}

.search-icon-img{
    width: 75%;
}

.search-icon{
    width: 10%;
}

.search-user{
    width: 85%;
}

.search-score{
    width: 5%
}

.search-link{
    color: #198754;
    text-decoration: none;
}

/* profile --------------------------------------- */
.profile-box{
    padding-left: 75px;
    padding-right: 75px;
}

.profile-header{
    display: grid;
    grid-template-columns: 0.15fr 0.85fr;
    column-gap: 4rem;
    width: 100%;
}

.profile-icon{
    width: 100%
}

.profile-label{
    padding: 30px 0 30px;
}

.description-input-box{
    width: 100%;
    border-radius: 0.3rem;
    border: 1px solid #aeaeae;
}