<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<main class = "content">
  <!-- tip div: can move this around wherever, as long as the tip variable still is left within it -->
  <div class = "box">
      <%= tip %>
  </div>
  <h1><center>Welcome User!</center></h1>
</main>

<%- include('../partials/footer') %>