<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<main class = "content">
  <!-- tip div: can move this around wherever, as long as the tip variable still is left within it -->
  <div class = "box">
      <%= tip %>
  </div>
  <!-- welcome [username] -->
  <!-- welcome to greenchallenge -->
  <!-- global stuff: total entries across users, total emissions logged, distance traveled by users, most popular mode of travel-->
</main>

<%- include('../partials/footer') %>