<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<main>
  <div class="container">
    <h1><center>Welcome User!</center></h1>
    <h1><center>Tip of the day: Remember to turn off the lights when you leave a room to save energy!</center></h1>
  </div>
</main>

<%- include('../partials/footer') %>