<%- include ('../partials/header') %> 
<%- include ('../partials/navbar') %>
<head>
    <style>
        .hidden {
            display: none;
        }
    </style>
    <script>
        function togglePassengers() {
            const travelMode = document.getElementById("travel_mode").value;
            const extraInput = document.getElementById("extra_input")
            if(travelMode == "car" || travelMode == "bus") {
                extraInput.classList.remove("hidden")
            } else {
                extraInput.classList.add("hidden")
            }
        }
    </script>
</head>
<body>
    <main>
        <%- include ('../partials/message') %>
        <div class="content">
            <h1 style="text-align: center">Input Personal Usage For Each Category</h1>
        </div>
        <div class="content box" id="travel" style="text-align: left">
            <form action="/log" method="POST">
                <h2 style="color: #343a40">Travel Data</h2>
                <div>
                    <label for="travel_mode">Travel Mode</label>
                    <select id="travel_mode" name="travel_mode" onchange="togglePassengers()">
                        <option value="" selected disabled>Select</option>
                        <option value="car">Car</option>
                        <option value="bus">Bus</option>
                        <option value="train">Train</option>
                        <option value="airplane">Airplane</option>
                    </select>
                    <div id="extra_input" class="hidden">
                        <label for="passengers">Passengers</label>
                        <input type="text" id="passengers" name="passengers">
                    </div>
                </div>
                <div>
                    <label for="distance">Distance Traveled in Miles: </label>
                    <input type="text" id="distance" name="distance"> 
                </div>
                <div>
                    <label for="travel_date">Travel Date</label>
                    <input type="date" id="travel_date" name="travel_date">
                </div>
                <button type = "submit" class = "btn btn-outline-primary">Submit</button>
            </form>
        </div>
    </main>
</body>
<%- include ('../partials/footer') %>