<%- include ('../partials/header') %> 
<%- include ('../partials/navbar') %>
<head>
    <style>
        .hidden {
            display: none;
        }
    </style>
    <script>
        function toggleElectric() {
            const travelMode = document.getElementById("travel-mode").value;
            const extraInput = document.getElementById("extra-input")
            if(travelMode == "car" || travelMode == "bus") {
                extraInput.classList.remove("hidden")
            } else {
                extraInput.classList.add("hidden")
            }
        }
    </script>
</head>
<body>
    <main>
        <%- include ('../partials/message') %>
        <div class="content">
            <h1 style="text-align: center">Input Personal Usage For Each Category</h1>
        </div>
        <div class="content box" id="travel" style="text-align: left">
            <form>
                <h2 style="color: #343a40">Travel Data</h2>
                <div>
                    <label for="travel-mode">Travel Mode</label>
                    <select id="travel-mode" name="travel-mode" onchange="toggleElectric()">
                        <option value="" selected disabled>Select</option>
                        <option value="car">Car</option>
                        <option value="bus">Bus</option>
                        <option value="train">Train</option>
                        <option value="airplane">Airplane</option>
                    </select>
                    <div id="extra-input" class="hidden">
                        <label for="electric">Engine Type</label>
                        <select id="electric" name="electric">
                            <option value="gas">Gas</option>
                            <option value="electric">Electric</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label for="miles">Miles Traveled: </label>
                    <input type="text" id="miles" name="miles"> 
                </div>
                <div>
                    <label for="travel-date">Travel Date</label>
                    <input type="date" id="travel-date" name="travel-date">
                </div>
                <button type = "submit" class = "btn btn-outline-primary">Submit</button>
            </form>
        </div>
    </main>
</body>
<%- include ('../partials/footer') %>