<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>
<main id = "login-card">
    <%- include ('../partials/message') %>
    <div class = "card">
        <img src = "img/logo_icon.png" class = "card-img-top" id = "login-img">
        <div class = "card-body">
            <h2>Login to GreenChallenge</h2>
            <form action = "/login" method = "POST" id = "login-form">
                <div id = "login-input">
                    <label for = "username"> Username </label>
                    <input type = "text" name = "username" id = "username" maxlength = "20" required>

                    <label for = "password"> Password </label>
                    <input type = "password" name = "password" id = "password" required>
                </div>
                <div id = "login-submit">
                    <div id = "login-reroute-register">Don't have an account?  <a href = "/register">Register.</a></div>
                    <button type = "submit" class = "btn btn-outline-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</main>
<%- include ('../partials/footer') %>