<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>
<main class = "content">
    <%- include ('../partials/message') %>
    <form action = "/register" method = "POST" class = "credential-form">
        <h3>Register</h3>
        <br>
        
        <label for = "username"> Username </label>
        <input type = "text" name = "username" id = "username">

        <label for = "password"> Password </label>
        <input type = "password" name = "password" id = "password">

        <button type = "submit" class = "btn btn-outline-primary">Register</button>
        <div>Already have an account?  <a href = "/login">Login</a></div>
    </form>
</main>
<%- include ('../partials/footer') %>